@import "spritemap.css";

:root {
  --bg-color: rgb(170, 171, 254);
  --card-bg: rgb(79, 74, 78);
 --card-bg-o13:  rgba(79, 74, 78, 0.13);
 --card-bg-o5:  rgba(79, 74, 78, 0.5);
 --card-bg-o0:  rgba(79, 74, 78, 0.0);
}

body {
  background-color: var(--bg-color);
}

.card {
  width: 200px;
}

.upper{
  background-color: var(--card-bg);
  margin: 0;
  border-bottom: 5px solid gold;
}

.coin{
  background-color: brown;
  color: gold;
  font-size: 16px !important;
}

.swords {
  background-image: url('Fantasy_Swords_3x.png');
  background-repeat: no-repeat;
}

#basic {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-1-3);
}

#broad {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-2-3);
}

#fencing {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-3-2);
}

#katana {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-4-4);
}

#curved {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-5-4);
}

#flame {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-6-3);
}

#ice {
  height: var(--pixel-size-96);
  background-position: var(--sprite-96-7-2);
}

.icon {
  position: relative;
  overflow: hidden;
  height: var(--pixel-size-96);
  width: var(--pixel-size-96);
  display: inline-block;
  
  margin: 15px;
  padding: 0;
  list-style: none;
  top: 0;
}

.icon:after {
  animation: shine 4s ease-in-out  infinite;
  animation-fill-mode: forwards;  
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(-30deg);

  background: var(--bg-color-o13);
  background: linear-gradient(
    to right, 
    var(--card-bg-o13) 0%,
    var(--card-bg-o13) 77%,
    var(--card-bg-o5) 92%,
    var(--card-bg-o0) 100%
  );
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

@keyframes shine{
  10% {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
  }
  100% {
  opacity: 0;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  }
}